.footer_container{
    height: 200px;
    background-color: $baseBlack;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    margin-top: 150px;

    .footer_top_button{
        will-change: transform;
        text-decoration: none;
        color: #ffffff;
        margin-top: 10px;
        margin-bottom: 50px;
        font-weight: 500;
        transition: 0.2s;
        font-size: 18px;
        background:none;
        border: none;
        cursor: pointer;
        font-family: 'Barlow Semi Condensed', sans-serif;
        outline: none;
        -webkit-user-select: none;      
        -moz-user-select: none; 
        -ms-user-select: none; 
        user-select: none;

        &:hover{
            transform: scale(1.05);
        }
    }

    .footer_media{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 200px;
        margin-bottom: 15px;

        .footer_media_button{
            display: block;
            will-change: transform;
            height: 30px;
            width: 30px;
            margin: 0 10px;
            transition: 0.2s;

            &:hover{
                transform: scale(1.1);
            }
    
            &.-mail{
                background-image: url(../../../Resources/email.svg);
                background-repeat: no-repeat;
                fill: white;
            }
            &.-linkedin{
                background-image: url(../../../Resources/linkedin.svg);
                background-repeat: no-repeat;
            }
            &.-github{
                background-image: url(../../../Resources/github.svg);
                background-repeat: no-repeat;
            }
        }
    }
}