.nomatch_screen{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 60px;
        font-weight: 700;
        padding-bottom: 35px;
        margin: 0 20px;
        text-align: center;
        cursor: default;
        animation: showOnStart 1s, subtleMove 1.5s;

        @keyframes showOnStart{
            0% {opacity: 0}
            45% {opacity: 0}
            100% {opacity: 1}
        }

        @keyframes subtleMove{
            0% {transform: translateY(-50px);}
            100% {transform: translateY(0px);}
        }
    }

    p{
        font-size: 23px;
        animation: showOnStart 1.5s;
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: 0.2s;

        .nomatch_arrow{
            height: 23px;
            width: auto;
            margin-left: 5px;
        }

        &:hover{
            opacity: 0.2;
        }
    }
}