.project_tile{
    background-color: $baseBlack;
    box-shadow: 0 4px 13px rgba(0, 0, 0, 0.6);
    width: 420px;
    height: 280px;
    border-radius: 5px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    perspective: 1200px; 
    position: relative;
    animation: tileLoading 0.6s;

    @keyframes tileLoading {
        0% { opacity: 0; }
        50% { opacity: 0; }
        100% { opacity: 1; }
    }

    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0;
        transition: 0.8s;
    }

    &:after{
        content: '';
        position: absolute;
        width: 0%;
        height: 100%;
        right: 0;
        background-color: #ffffff;
        transition: 0.8s;
        animation: slideCover 1.2s ease;

        @keyframes slideCover {
            30% { width: 100%; }
            100% { width: 0%; }
        }
    }

    &:hover{
        &:before{
            opacity: 1;
        }

        .project_inner_tile{
            transition: none;
            visibility: visible;
            opacity: 1;
            animation: revealInnerTile 0.3s;

            @keyframes revealInnerTile {
                0% {opacity: 0;}
                100% {opacity: 1;}
            }
        }
    }

    .project_inner_tile{
        width: 75%;
        height: 65%;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        color: $baseBlack;
        transition: 0.3s linear;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        box-sizing: border-box;
        padding: 20px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
        animation: hideInnerTile 0.3s;

        @keyframes hideInnerTile {
            0% {opacity: 1; visibility: visible;}
            100% {opacity: 0; visibility: hidden;}
        }

        p{
            font-size: 35px;
            font-weight: 700;
            text-align: center;
        }
    }

    img{
        width: auto;
        height: auto;
        animation: loadThumbnail 0.3s;

        @keyframes loadThumbnail {
            0% {opacity: 0;}
            100% {opacity: 1;}
        }
    }
}