.projects_container{
    width: 100%;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects_list_title{
    font-size: 60px;
    font-weight: 700;
    margin-top: 140px;
    margin-bottom: 15px;
    text-align: center;
    cursor: default;
    animation: showOnStart 1s, subtleMove 1.5s;

    @keyframes showOnStart{
        0% {opacity: 0}
        45% {opacity: 0}
        100% {opacity: 1}
    }

    @keyframes subtleMove{
        0% {transform: translateY(-50px);}
        100% {transform: translateY(0px);}
    }
}

.projects_list_subtitle{
    font-size: 23px;
    line-height: 1.3;
    animation: showOnStart 1.5s;
    cursor: default;
}

.projects_list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 70px;
    min-height: 600px;
}

.projects_list_filters_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 19px;
    animation: showOnStart 2s;
    height: auto;
    margin-top: 40px;

    h1{
        cursor: default;
    }

    .projects_list_filters{
        display: flex;

        p{
            font-weight: 700;
            font-size: 19px;
            margin: 10px 12px;
            cursor: pointer;
            transition: 0.2s;
            padding-bottom: 4px;
            position: relative;
            -webkit-user-select: none;      
            -moz-user-select: none; 
            -ms-user-select: none; 
            user-select: none;
            
            &:hover{
                opacity: 0.2;
            }

            &:before{
                content: "";
                bottom: 0;
                height: 2px;
                width: 0%;
                background-color: $baseBlack;
                position: absolute;
                transition: 0.5s;
            }
        }
        
        .picked_filter{
            animation: showFilterBorder 1s;
            &:before{width: 100%;}

            @keyframes showFilterBorder{
                0% { &:before{width: 0%;} }
                100% { &:before{width: 100%;} }
            }
        }
    }
}

.projects_list_fallback{
    padding-top: 140px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    animation: revealDots 0.4s;

    @keyframes revealDots {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }  

    .projects_dot{
        width: 15px;
        height: 15px;
        background-color: $baseBlack;
        border-radius: 50%;
        animation: projectsLoadingDots 1s infinite;

        @keyframes projectsLoadingDots {
            0% { transform: translateY(0px); }
            40% { transform: translateY(-10px); }
            90% { transform: translateY(0px); }
            100% { transform: translateY(0px); }
        }

        &:nth-child(2){
            animation-delay: 0.2s;
            margin-left: 5px;
        }
        &:last-child{
            animation-delay: 0.4s; 
            margin-left: 5px;
        }
    }
}