.project_showcase_container{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.project_showcase{
    display: flex;
    align-items: center;
    width: 100%;
}

.project_details{
    margin-left: 12%;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20%;
}

.project_details_name{
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 40px;
    cursor: default;
    will-change: transform;
    animation: showOnStart 2s, subtleMove 2s;

    @keyframes showOnStart{
        0% {opacity: 0}
        25% {opacity: 0}
        100% {opacity: 1}
    }

    @keyframes subtleMove{
        0% { transform: translateY(-50px); }
        100% { transform: translateY(0px); }
    }
}

.project_details_description{
    font-size: 23px;
    cursor: default;
    width: 60%;
    line-height: 1.3;
    margin-top: 45px;
    overflow: hidden;
    position: relative;

    &:before{
        content: "";
        transform: translateY(-100%);
        top: 100;
        left: 0;
        height: 50%;
        width: 100%;
        background-color: #ffffff;
        position: absolute;
        animation: unveilBefore 2s;

        @keyframes unveilBefore{
            0% { transform: translateY(0%); }
            20% { transform: translateY(0%); }
            100% { transform: translateY(-100%); }
        }
    }

    &:after{
        content: "";
        transform: translateY(100%);
        bottom: 0;
        left: 0;
        height: 50%;
        width: 100%;
        background-color: #ffffff;
        position: absolute;
        animation: unveilAfter 2s;

        @keyframes unveilAfter{
            0% { transform: translateY(0%); }
            20% { transform: translateY(0%); }
            100% { transform: translateY(100%); }
        }
    }
}

.project_details_tech_title{
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 10px;
    cursor: default;
    animation: showOnStart 2s, subtleMoveAlt 2s;

    @keyframes subtleMoveAlt{
        0% {transform: translateX(-50px);}
        100% {transform: translateX(0px);}
    }
}

.project_details_tech{
    font-size: 19px;
    cursor: default;
    animation: showOnStart 2s, subtleMoveAlt2 2s;

    @keyframes subtleMoveAlt2{
        0% {transform: translateX(50px);}
        100% {transform: translateX(0px);}
    }
}

.project_details_tech_frontend{
    margin-top: 5px;
    span{
        font-weight: 500;
    }
}

.project_details_tech_backend{
    margin-top: 5px;
    span{
        font-weight: 500;
    }
}

.project_details_demo{
    margin-top: 40px;
    font-size: 19px;
    color: $baseBlack;
    text-decoration: underline;
    font-weight: 500;
    animation: showOnStart 2s;
    transition: 0.2s;
    line-height: 1.1;

    &:hover{
        opacity: 0.2;
    }

    &.-unavialable{
        text-decoration: none;
        cursor: default;
        
        &:hover{
            opacity: 1;
        }
    }
}

.project_details_source_container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    animation: showOnStart 2s;
    transition: 0.2s;
    cursor: pointer;

    &:hover{
        opacity: 0.2;
    }
}

.project_details_source_icon{
    height: 20px;
    width: auto;
    fill: $baseBlack;
    margin-right: 5px;
}

.project_details_source{
    font-size: 15px;
    color: $baseBlack;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
}

.project_snapshots{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40%;
    height: 100%;
    padding-right: 3%;
    transform: translateY(-20px);

    .snapshot{
        max-width: 90%;
        max-height: 60%;
        border-radius: 10px;
        position: absolute;
        box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.6);

        &:first-child{
            transform: skewY(5deg) translate(0px, -50px);
        }

        &:nth-child(2){
            transform: skewY(5deg) translate(-70px, 10px);
        }

        &:nth-child(3){
            transform: skewY(5deg) translate(-140px, 70px);
        }

        &.-loaded{
            
            &:nth-child(1){
                animation: revealFirstSnapshot 3s; 
                transform: skewY(5deg) translate(0px, 0px);

                @keyframes revealFirstSnapshot {
                    0% {opacity: 0;}
                    20% {opacity: 0; transform: skewY(5deg) translate(0px, -50px);}
                    40% {opacity: 1; transform: skewY(5deg) translate(0px, 0px);}
                }
            }

            &:nth-child(2){
                animation: revealSecondSnapshot 3s; 
                transform: skewY(5deg) translate(-70px, 60px);

                @keyframes revealSecondSnapshot {
                    0% {opacity: 0;}
                    40% {opacity: 0; transform: skewY(5deg) translate(-70px, 10px);}
                    60% {opacity: 1; transform: skewY(5deg) translate(-70px, 60px);}
                }
            }
    
            &:nth-child(3){
                animation: revealThirdSnapshot 3s; 
                transform: skewY(5deg) translate(-140px, 120px);

                @keyframes revealThirdSnapshot {
                    0% {opacity: 0;}
                    60% {opacity: 0; transform: skewY(5deg) translate(-140px, 70px);}
                    80% {opacity: 1; transform: skewY(5deg) translate(-140px, 120px);}
                }
            }
        }
    }
}

.project_details_fallback{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: revealDots 1.5s;

    @keyframes revealDots {
        0% { opacity: 0; }
        50% { opacity: 0; }
        100% { opacity: 1; }
    }  
    
    p{
        font-size: 23px;
        padding: 40px;
        text-align: center;
    }

    .project_details_dots{
        display: flex;
    }

    .project_details_dot{
        width: 15px;
        height: 15px;
        background-color: $baseBlack;
        border-radius: 50%;
        animation: projectLoadingDots 1s infinite;

        @keyframes projectLoadingDots {
            0% { transform: translateY(0px); }
            40% { transform: translateY(-10px); }
            90% { transform: translateY(0px); }
            100% { transform: translateY(0px); }
        }

        &:nth-child(2){
            animation-delay: 0.2s;
            margin-left: 5px;
        }
        &:last-child{
            animation-delay: 0.4s; 
            margin-left: 5px;
        }
    }
}

@media(max-width: 1200px){
    .project_showcase{
        flex-direction: column;
    }

    .project_details{
        margin-left: 0;
        padding-top: 20%;
        width: 85%;
        height: auto;
        text-align: left;
    }

    .project_details_description{
        width: 80%;
    }

    .project_snapshots{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        width: 100%;
        padding: 40px 0 0;
        min-height: 450px;
        transform: translateY(0px);

        .snapshot{
            max-width: 85%;
            position: static;
            margin: 40px 0 0;
            max-height: 600px;
            
            &.-loaded{

                &:nth-child(1), &:nth-child(2), &:nth-child(3){
                    transform: skewY(0deg) translate(0px, 0px);
                    animation: lowResSnapReveal 1s;
                    
                    @keyframes lowResSnapReveal {
                        from { opacity: 0; }
                        to { opacity: 1; }
                    }
                }
            }
        }
    }
}

@media(max-width: 500px){

    .project_details{
        align-items: center;
        text-align: center;
    }

    .project_details_name{
        font-size: 13vw;
        margin: 40px 0;
    }

    .project_details_demo{
        padding: 0 20px;
    }
}