.about_container{
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_photo{
    height: auto;
    width: 350px;
    margin: 90px;
    border-radius: 50%;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.507);
    transition: 1.5s;
    opacity: 0;
    transform: translateY(5%);

    &.-emerged{
        opacity: 1;
        transform: translateY(0);
    }
}
.about_info_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: 0.8s ease;
    opacity: 0;
    transform: translateY(25%);

    &.-emerged{
        opacity: 1;
        transform: translateY(0);
    }
}
.about_info_title{
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 50px;
    cursor: default;
}
.about_info_description{
    max-width: 65%;
    font-size: 23px;
    line-height: 1.3;
    cursor: default;
}


.about_attributes_container{
    display: flex;
}

.about_attribute{
    margin: 40px 15px 0px;
    border: 1px solid $baseBlack;
    padding: 20px;
    width: 180px;
    height: 230px;
    border-radius: 7px;
    transition: 0.6s;
    animation: pulseAtribute 1.5s infinite linear;
    background-color: #ffffff;

    @keyframes pulseAtribute {
        0% {border: 1px solid $baseBlack;}
        50% {border: 1px solid #1616162f;}
        100% {border: 1px solid $baseBlack;}
    }
    
    @keyframes pulseAtributeWide {
        0% {border: 2px solid $baseBlack;}
        50% {border: 2px solid #1616162f;}
        100% {border: 2px solid $baseBlack;}
    }

    &_img{
        width: 70px;
        height: auto;
        transition: 0.7s;
        fill: $baseBlack;
    }

    &_title{
        margin-top: 10px;
        font-size: 25px;
        margin-bottom: 20px;
        cursor: default;
        font-weight: 500;
    }

    &_description{
        line-height: 1.3;
        font-size: 17px;
        cursor: default;
    }

    &.-featured{
        width: 220px;
        height: 265px;
        border: 2px solid $baseBlack;
        animation: pulseAtributeWide 1.5s infinite linear;

        .about_attribute_img{
            width: 90px;
        }
        .about_attribute_title{
            font-size: 37px;
        }
        .about_attribute_description{
            font-size: 18px;
            font-weight: 500;
        }
    }

    &:hover{
        animation: none;
        background-color: $baseBlack;
        color: #ffffff;

        .about_attribute_img{
            transition: 0.7s;
            fill: #ffffff;
        }
    }

    &:last-child{
        animation: wiggleLastAttribute 6s infinite, pulseAtribute 1.5s infinite linear;

        @keyframes wiggleLastAttribute {
            0% {}
            20% {transform: none}
            50% {transform: translateY(-8px);}
            60% {transform: translateY(-8px);}
            62% {transform: translateY(-8px) rotate(2deg);}
            64% {transform: translateY(-8px) rotate(-2deg);}
            66% {transform: translateY(-8px) rotate(2deg);}
            70% {transform: translateY(-8px) rotate(0deg);}
            75% {transform: translateY(-8px) rotate(0deg);}
            100% {}
        }

        &:hover{
            animation-play-state: paused;
        }
    }
}