.about_container{
    min-height: 750px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 25px;
    position: relative;

    &:before{
        content: '';
        top: 0;
        right: 5%;
        width: 0%;
        height: 3px;
        position: absolute;
        background-color: $baseBlack;
        transition: 1.5s;
    }

    &.-emerged{
        &:before{
            width: 70%;
        }
    }
}

.about_photo{
    height: auto;
    width: 350px;
    margin: 90px;
    border-radius: 50%;
    padding: 7px;
    background-color: $baseBlack;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.507);
    opacity: 0;

    &.-emerged{
        opacity: 1;
        animation: showOnStart 1.5s;

        @keyframes showOnStart {
            0% {opacity: 0}
            100% {opacity: 1}
        }
    }
}
.about_info_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: 2s ease;
    opacity: 0;
    transform: translateY(8%);
    will-change: transform;

    &.-emerged{
        opacity: 1;
        transform: translateY(0);
    }
}
.about_info_title{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 35px;
    cursor: default;
}
.about_info_description{
    max-width: 75%;
    font-size: 23px;
    line-height: 1.3;
    cursor: default;
}

.about_attributes_container{
    display: flex;
}

.about_attribute{
    margin: 40px 15px 0px;
    border: 1px solid $baseBlack;
    padding: 20px;
    width: 180px;
    height: 230px;
    border-radius: 7px;
    transition: 0.6s;
    animation: pulseAtribute 1.5s infinite linear;
    background-color: #ffffff;

    @keyframes pulseAtribute {
        0% {border: 1px solid $baseBlack;}
        50% {border: 1px solid #1616162f;}
        100% {border: 1px solid $baseBlack;}
    }
    
    @keyframes pulseAtributeWide {
        0% {border: 3px solid $baseBlack;}
        50% {border: 3px solid #1616162f;}
        100% {border: 3px solid $baseBlack;}
    }

    &_img{
        width: 70px;
        height: auto;
        transition: 0.7s;
        fill: $baseBlack;
    }

    &_title{
        margin-top: 12px;
        font-size: 26px;
        margin-bottom: 18px;
        cursor: default;
        font-weight: 500;
    }

    &_description{
        line-height: 1.3;
        font-size: 17px;
        cursor: default;
    }

    &.-featured{
        width: 220px;
        height: 265px;
        border: 3px solid $baseBlack;
        animation: pulseAtributeWide 1.5s infinite linear;

        .about_attribute_img{
            width: 90px;
        }
        .about_attribute_title{
            font-size: 37px;
            font-weight: 500;
        }
        .about_attribute_description{
            font-size: 18px;
            font-weight: 500;
        }
    }

    &:hover{
        animation: none;
        background-color: $baseBlack;
        color: #ffffff;

        .about_attribute_img{
            transition: 0.7s;
            fill: #ffffff;
        }
    }

    &:last-child{
        animation: wiggleLastAttribute 5s infinite, pulseAtribute 1.5s infinite linear;

        @keyframes wiggleLastAttribute {
            0% {}
            20% {transform: none}
            50% {transform: translateY(-8px);}
            60% {transform: translateY(-8px);}
            62% {transform: translateY(-8px) rotate(2deg);}
            64% {transform: translateY(-8px) rotate(-2deg);}
            66% {transform: translateY(-8px) rotate(2deg);}
            70% {transform: translateY(-8px) rotate(0deg);}
            75% {transform: translateY(-8px) rotate(0deg);}
            100% {}
        }

        &:hover{
            animation-play-state: paused;
        }
    }
}

@media(max-width: 1500px){
    .about_photo{
        width: 23%;
        margin: 3%;
    }
}

@media(max-width: 1200px){
    .about_container{
        flex-direction: column;
        padding-top: 30px;
    }

    .about_photo{
        width: 30%;
        margin-bottom: 30px;
    }
}

@media(max-width: 900px){
    .about_photo{
        width: 40%;
    }

    .about_info_container{
        width: 100%;
    }

    .about_info_title{
        font-size: 50px;
    }

    .about_info_description{
        max-width: 90%;
        font-size: 20px;
    }

    .about_attribute{
        width: 170px;
        height: 215px;
        margin: 50px 8px 20px;
        padding: 22px 13px;

        &_title{
            font-size: 23px;
            margin: 12px 0 10px;
        }

        &.-featured{
            width: 200px;
            height: 255px;

            .about_attribute_title{
                font-size: 35px;
            }
            .about_attribute_description{
                font-size: 18px;
            }
        }
    }
}

@media(max-width: 750px){
    .about_attributes_container{
        flex-direction: column;
        align-items: center;
    }

    .about_attribute{
        width: 90vw;
        height: auto;
        margin: 30px 0 0;
        padding: 25px 15px;
        box-sizing: border-box;

        &_title{
            font-size: 40px;
        }

        &_description{
            font-size: 20px;
        }

        &.-featured{
            margin-top: 40px;   
            width: 90vw;
            height: auto;
            order: -1;
            padding: 25px 15px;
            box-sizing: border-box;

            .about_attribute_title{
                font-size: 45px;
            }
            .about_attribute_description{
                font-size: 20px;
            }
        }
    }
}

@media(max-width: 500px){
    .about_photo{
        width: 65%;
    }

    .about_attribute{
        &_title{
            font-size: 30px;
        }

        &_description{
            font-size: 18px;
        }

        &.-featured{  
            .about_attribute_title{
                font-size: 35px;
            }
            .about_attribute_description{
                font-size: 20px;
            }
        }
    }
}