.hero_container{
    max-width: 100vw;
    display: flex;
    min-height: 670px;
    height: 100vh;
    align-items: center;

    @keyframes showOnStart {
        0% {opacity: 0}
        45% {opacity: 0}
        100% {opacity: 1}
    }
}

.hero_info_container{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    text-align: center;
    animation: showOnStart 1.5s;

    .hero_title{
        font-size: 120px;
        line-height: 150px;
        font-weight: 100;
        font-family: 'Montserrat', sans-serif;
        
        &.-lower{
            font-size: 24px;
            line-height: 20px;
            margin-top: 30px;
            font-weight: 700;
            font-family: 'Barlow Semi Condensed', sans-serif;
            text-transform: uppercase;
        }
    }

    .hero_description{
        margin-top: 40px;
        font-size: 23px;
        line-height: 1.3;
    }
}

.hero_img_container{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.hero_img_container{
    position: relative;
    
    &:before{
        content: '';
        width: 350px;
        height: 480px;
        position: absolute;
        background-color: #222222;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.815);
        animation: spreadOutOnStart 2.5s;
        @keyframes spreadOutOnStart {
            0% {transform: rotateY(90deg); opacity: 0;}
            60% {transform: rotateY(90deg); opacity: 0;}
            100% {transform: rotateY(0deg); opacity: 1;}
        }
    }

    .hero_img{
        width: 300px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        z-index: 1;
        
        &.-left{
            position: absolute;
            transform: translate(-105px, 29px);
            animation: shakeLeft 4s ease-in-out infinite, showOnStart 1.5s;

            @keyframes shakeLeft {
                0% {transform: translate(-105px, 29px);}
                50% {transform: translate(-105px, 34px);}
                100% {transform: translate(-105px, 29px);}
            }
        }

        &.-right{
            position: absolute;
            transform: translate(105px, -29px);
            animation: shakeRight 4s ease-in-out infinite, showOnStart 1.5s;

            @keyframes shakeRight {
                0% {transform: translate(105px, -29px);}
                50% {transform: translate(105px, -34px);}
                100% {transform: translate(105px, -29px);}
            }
        }
    }
}