.hero_container{
    max-width: 100vw;
    display: flex;
    height: 550px;
    align-items: center;
}

.hero_title_container{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero_title{
        width: 700px;
        font-size: 120px;
        line-height: 150px;
        font-weight: 100;
        
        
        &.-lower{
            font-size: 20px;
            line-height: 20px;
            margin-top: 30px;
            margin-left: 70px;
            font-weight: 700;
            font-family: 'Barlow Semi Condensed', sans-serif;
            text-transform: uppercase;
        }
    }
}

.hero_img_container{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_img_container{
    position: relative;

    .hero_img{
        width: 300px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        
        &.-left{
            position: absolute;
            transform: translate(-105px, 29px);
            animation: shakeLeft 4s linear infinite;

            @keyframes shakeLeft {
                0% {transform: translate(-105px, 29px);}
                50% {transform: translate(-105px, 34px);}
                100% {transform: translate(-105px, 29px);}
            }
        }

        &.-right{
            position: absolute;
            transform: translate(105px, -29px);
            animation: shakeRight 4s linear infinite;

            @keyframes shakeRight {
                0% {transform: translate(105px, -29px);}
                50% {transform: translate(105px, -34px);}
                100% {transform: translate(105px, -29px);}
            }
        }
    }
}