.hero_container{
    display: flex;
    min-height: 600px;
    height: 100vh;
    align-items: center;
}

.hero_info_container{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    text-align: center;
    animation: showOnStart 0.7s;

    @keyframes showOnStart {
        0% {opacity: 0}
        20% {opacity: 0}
        100% {opacity: 1}
    }

    .hero_title{
        font-size: 120px;
        line-height: 150px;
        font-weight: 100;
        font-family: 'Montserrat', sans-serif;
        cursor: default;
        
        &.-lower{
            font-size: 24px;
            line-height: 20px;
            margin-top: 30px;
            font-weight: 700;
            font-family: 'Barlow Semi Condensed', sans-serif;
            text-transform: uppercase;
            padding-left: 2px;
            border-right: 2px solid $baseBlack;
            white-space: nowrap;
            overflow: hidden;
            animation: typewriter 2.5s steps(18) 1.5s both, blinkTextCursor 0.5s infinite;

            @keyframes typewriter{
                0%{width: 0em;}
                100%{width: 10em;}
              }
              @keyframes blinkTextCursor{
                0%{border-right-color: $baseBlack;}
                50%{border-right-color: $baseBlack;}
                51%{border-right-color: transparent;}
                100%{border-right-color: transparent;}
              }
        }
    }

    .hero_description{
        margin-top: 40px;
        font-size: 23px;
        line-height: 1.3;
        cursor: default;
    }
}

.hero_img_container{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    
    &:before{
        content: '';
        width: 350px;
        height: 480px;
        position: absolute;
        border-radius: $baseBorderRadius;
        background-color: #222222;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.815);
        animation: spreadOutOnStart 2s;
        @keyframes spreadOutOnStart {
            0% {transform: rotateY(90deg); opacity: 0;}
            40% {transform: rotateY(90deg); opacity: 0;}
            100% {transform: rotateY(0deg); opacity: 1;}
        }
    }

    .hero_img{
        width: 300px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        z-index: 1;
        border-radius: $baseBorderRadius;
        
        &.-left{
            position: absolute;
            transform: translate(-105px, 29px);
            animation: shakeLeft 4s ease-in-out infinite, showOnStart 1s;

            @keyframes shakeLeft {
                0% {transform: translate(-105px, 29px);}
                50% {transform: translate(-105px, 34px);}
                100% {transform: translate(-105px, 29px);}
            }
        }

        &.-right{
            position: absolute;
            transform: translate(105px, -29px);
            animation: shakeRight 4s ease-in-out infinite, showOnStart 1s;

            @keyframes shakeRight {
                0% {transform: translate(105px, -29px);}
                50% {transform: translate(105px, -34px);}
                100% {transform: translate(105px, -29px);}
            }
        }
    }
}

@media(max-width: 1450px){
    .hero_info_container{
        width: 57vw;

        .hero_title{
            font-size: 8vw;
            
            &.-lower{
                font-size: 22px;
                margin-top: 15px;
            }
        }

        .hero_description{
            margin-top: 20px;
            font-size: 20px;
        }
    }

    .hero_img_container{
        
        &:before{
            width: 300px;
            height: 400px;
        }
    
        .hero_img{
            width: 250px;
            
            &.-left{
                transform: translate(-88px, 25px);

                @keyframes shakeLeft {
                    0% {transform: translate(-88px, 25px);}
                    50% {transform: translate(-88px, 29px);}
                    100% {transform: translate(-88px, 25px);}
                }
            }
    
            &.-right{
                transform: translate(88px, -25px);

                @keyframes shakeRight {
                    0% {transform: translate(88px, -25px);}
                    50% {transform: translate(88px, -29px);}
                    100% {transform: translate(88px, -25px);}
                }
            }
        }
    }
}

@media(max-width: 1200px){
    .hero_container{
        flex-direction: column;
        padding-top: 150px;
        height: auto;
    }

    .hero_img_container{
        height: 400px;
        margin: 60px 0 100px;
    }

    .hero_info_container{
        width: 80%;

        .hero_title{
            font-size: 12vw;
            
            &.-lower{
                font-size: 23px;
                margin-top: 7vw;
            }
        }
    }
}

@media(max-width: 900px){

    .hero_info_container{
        .hero_title{
            font-size: 14vw;
            width: 100vw;
            line-height: 100px;
            
            &.-lower{
                font-size: 20px;
            }
        }
    }
}

@media(max-width: 500px){
    
    .hero_container{
        padding-top: 120px;
    }

    .hero_img_container{
        
        height: 280px;

        &:before{
            width: 230px;
            height: 300px;
        }
    
        .hero_img{
            width: 180px;
            
            &.-left{
                transform: translate(-63px, 18px);

                @keyframes shakeLeft {
                    0% {transform: translate(-63px, 18px);}
                    50% {transform: translate(-63px, 22px);}
                    100% {transform: translate(-63px, 18px);}
                }
            }
    
            &.-right{
                transform: translate(63px, -18px);

                @keyframes shakeRight {
                    0% {transform: translate(63px, -18px);}
                    50% {transform: translate(63px, -22px);}
                    100% {transform: translate(63px, -18px);}
                }
            }
        }
    }
}

@media(max-width: 400px){
    
    .hero_container{
        padding-top: 100px;
    }

    .hero_img_container{
        
        height: 190px;

        &:before{
            width: 180px;
            height: 230px;
        }
    
        .hero_img{
            width: 140px;
            
            &.-left{
                transform: translate(-49px, 14px);

                @keyframes shakeLeft {
                    0% {transform: translate(-49px, 14px);}
                    50% {transform: translate(-49px, 18px);}
                    100% {transform: translate(-49px, 14px);}
                }
            }
    
            &.-right{
                transform: translate(49px, -14px);

                @keyframes shakeRight {
                    0% {transform: translate(49px, -14px);}
                    50% {transform: translate(49px, -18px);}
                    100% {transform: translate(49px, -14px);}
                }
            }
        }
    }
}