.more-about_container{
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more-about_info_title{
    font-size: 60px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 15px;
    cursor: default;
    will-change: transform;
}

.more-about_info_description{
    font-size: 23px;
    line-height: 1.3;
    cursor: default;
}

.skills_container{
    margin-top: 30px;
    width: 92vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.skills_tile{
    margin: 3px;
    background-color: $baseBlack;
    border-radius: $baseBorderRadius;
    color: #ffffff;
    text-align: center;
    transition: 0.4s;
    padding: 0 5px;
    cursor: default;

    h1{
        font-size: 35px;
        font-weight: 500;
        position: relative;
        border-bottom: 3px solid #ffffff;
        padding-bottom: 15px;
        margin: 20px 10% 0;
    }

    .skills_tile_content{
        display: flex;
        justify-content: space-evenly;
        margin-top: 40px;
        margin-bottom: 40px;
    }
     
    .skills_icon{
        fill: #ffffff;
        height: 70px;
        width: auto;
        border-radius: $baseBorderRadius;
        margin-bottom: 7px;
    }

    div{
        font-size: 18px;
        font-weight: 500;
        will-change: transform;
    }

    &:hover{
        transform: scale(0.97);
    }
}


@media(max-width: 1200px){
    .skills_container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media(max-width: 800px){
    .skills_container{
        grid-template-columns: 1fr;
    }
}