@import 'reset-css';

//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;300;500&display=swap');

//colors
$baseBlack: #202020;
$baseBorderRadius: 3px;

//scss Components
@import './Components/NoMatch';
@import './Components/Fallback';
@import './Components//Header/Header';
@import './Components/Footer/Footer';
@import './Components/Home/Hero';
@import './Components/Home/About';
@import './Components/Home/Showcase';
@import './Components/Contact/ContactTop';
@import './Components/Contact/Form';
@import './Components/Projects/Projects';
@import './Components/Projects/ProjectTile';
@import './Components/Projects/ProjectDetails';


body {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root{
    width: 97vw;
    background-color: #ffffff;
    color: $baseBlack;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 300;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: $baseBlack;
}
::-webkit-scrollbar-thumb:hover {
    background: #666666;
}