@import 'reset-css';

//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;300;500&display=swap');

//scss Components
@import './Components/Home/Hero';
@import './Components//Header/Header';

body {
    background-color: #ffffff;
    color: rgb(20, 20, 20);
    font-family: 'Montserrat', sans-serif;
}