.top_container{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1{
        font-size: 60px;
        font-weight: 700;
        margin: 140px 15px 15px;
        animation: showOnStart 1s, subtleMove 1.5s;
        cursor: default;
        will-change: transform;
    }

    P{
        font-size: 23px;
        line-height: 1.3;
        animation: showOnStart 1.5s;
        cursor: default;
    }

    @keyframes showOnStart{
        0% {opacity: 0}
        45% {opacity: 0}
        100% {opacity: 1}
    }

    @keyframes subtleMove{
        0% {transform: translateY(-50px)}
        100% {transform: translateY(0px)}
    }
}

@media(max-width: 900px){

    .top_container{
        height: auto;
        
        h1{
            font-size: 50px;
            margin-top: 100px;
        }

        p{
            font-size: 20px;
            max-width: 90%;
        }
    }
}