.form_container{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 65%;
    height: 80%;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation: showFormOnStart 0.7s;

    @keyframes showFormOnStart{
        0% {opacity: 0}
        35% {opacity: 0}
        100% {opacity: 1}
    }
}
.form_data{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.form_data_field{
    width: 48%;
    min-height: 92px;
}
.form_data_label{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 500;
}
.form_data_input{
    height: 20px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.4px;
    padding: 10px;
    margin-top: 10px;
    outline: none;
    color: $baseBlack;
    border: 1px solid $baseBlack;
    border-radius: $baseBorderRadius;
    border-left: none;
    border-right: none;
    transition: 0.4s;
}
.form_content_label{
    margin-top: 20px;
    min-height: 242px;
    display: flex; 
    flex-direction: column;
    font-size: 20px;
    font-weight: 500;
}
.form_content{
    margin-top: 10px;
    max-width: 100%;
    height: 170px;
    resize: none;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding: 10px;
    outline: none;
    color: $baseBlack;
    border: 1px solid $baseBlack;
    border-radius: $baseBorderRadius;
    border-left: none;
    border-right: none;
    letter-spacing: 0.4px;
    transition: 0.4s;
}
.form_button_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.form_button{
    margin-top: 30px;
    height: 50px;
    width: 40%;
    border: 1px solid $baseBlack;
    background-color: $baseBlack;
    color: #ffffff;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    transition: 0.15s;
    border-radius: $baseBorderRadius;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        opacity: 0.9;
    }
}
.form_button_icon{
    height: auto;
    width: 18px;
    margin-left: 8px;
}
.form_error{
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
    color: red;
    animation: revealError 0.4s linear;

    @keyframes revealError {
        0% {opacity: 0}
        100% {opacity: 1}
    }
}