.header_container{
    max-width: 100vw;
    position: fixed;
    margin-top: 20px;
    z-index: 99999;
    padding: 0 70px;
    box-sizing: border-box;
}

.header{
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    width: 60px;
    animation: fold 0.5s ease-in-out;

    &.-active{
        width: 390px;
        animation: unfold 0.5s ease-in-out;
    }

    @keyframes fold {
        0% { width: 390px };
        100% { width: 60px };
    }

    @keyframes unfold {
        0% { width: 60px };
        100% { width: 390px };
    }
}

.nav_items{
    display: flex;
    align-items: center;
}

.nav_item{
    text-decoration: none;
    color: rgb(20, 20, 20);
    font-weight: 300;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0 25px;
    font-size: 18px;
    padding: 5px 0;
    transform: translate(400px, 0px);
    transition: 1s;

    &.-current{
        border-bottom: 2px solid rgb(20, 20, 20);
    }

    &.-active{
        transform: translate(0, 0);
    }
}

.hamburger{
    padding: 15px;
    cursor: pointer;
    transition: 0.1s;
    overflow: hidden; 

    &:hover{
      opacity: 0.3;
    }

    &.-active{
        .hamburger-inner {
            transition-delay: 0s;
            transition-timing-function: ease-out;
            background-color: transparent !important; 

            &:before{
                left: -80px;
                top: -80px;
                transform: translate3d(80px, 80px, 0) rotate(45deg);
                transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
            }

            &:after{
                right: -80px;
                top: -80px;
                transform: translate3d(-80px, 80px, 0) rotate(-45deg);
                transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); 
            }
        }
    }
}

.hamburger-box {
    width: 30px;
    height: 30px;
    position: relative;
}
  
.hamburger-inner {
    top: 47%;
    width: 30px;
    height: 4px;
    background-color: rgb(20, 20, 20);
    position: relative;
    transition: background-color 0.125s 0.175s ease-in; 

    &:before{
        content: "";
        top: -9px; 
        left: 0;
        transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; 
    }
    &:after{
        content: ""; 
        top: 9px;
        right: 0;
        transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
    }
}
    
.hamburger-inner:before, .hamburger-inner:after {
    width: 30px;
    height: 4px;
    background-color: rgb(20, 20, 20);
    position: absolute;
}