.header_container{
    width: 97vw;
    position: fixed;
    margin-top: 30px;
    z-index: 99999;
    padding: 0 40px;
    box-sizing: border-box;
    background: none;
    height: 0;
    animation: revealOnPageLoad 0.6s linear;

    @keyframes revealOnPageLoad {
        0% { visibility: hidden; opacity: 0; };
        100% { visibility: visible; opacity: 1; };
    }
}

.header{
    height: 60px;
    width: 60px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(20, 20, 20, 0.02);
    overflow: hidden;
    animation: fold 0.6s cubic-bezier(1,-0.4,.5,1);
    border-radius: $baseBorderRadius;

    &.-active{
        width: 410px;
        animation: unfold 0.6s cubic-bezier(1,-0.2,.5,1);
    }

    @keyframes fold {
        0% { width: 410px };
        100% { width: 60px };
    }
    @keyframes unfold {
        0% { width: 60px };
        100% { width: 410px };
    }
}

.nav_items{
    display: flex;
    align-items: center;
    z-index: 1;
}

.nav_item{
    will-change: transform;
    user-select: none;
    text-decoration: none;
    color: $baseBlack;
    margin: 0 25px;
    font-size: 20px;
    padding: 5px 0;
    position: relative;
    transform: translate(0, 60px);

    @keyframes disappear {
        0% {transform: translate(0, 0); visibility: visible;}
        100% {transform: translate(0, 60px); visibility: hidden;}
    }
    @keyframes appear{
        0% {transform: translate(0, -60px); visibility: visible;}
        100% {transform: translate(0, 0);}
    }

    @keyframes pulse {
        0% {opacity: 1;}
        50% {opacity: 0.25;}
        100% {opacity: 1;}
    }

    &:before{
        content: "";
        bottom: 0;
        height: 1px;
        width: 0px;
        background-color: $baseBlack;
        position: absolute;
        transition: 0.5s;
    }

    &:hover{
        &:before{
            width: 100%;
        }
    }

    &.-active {
        transform: translate(0, 0);
        display: block;
    }


    &.-first{
        animation: disappear 1.6s;
        &.-current{
            animation: disappear 1.6s, pulse 2s linear infinite;
        } 
        &.-active{
            animation: appear 1s; 
            &.-current{
                animation: appear 1s, pulse 2s linear infinite;
            } 
        }
    }

    &.-second{
        animation: disappear 1.3s;
        &.-current{
            animation: disappear 1.3s, pulse 2s linear infinite;
        } 
        &.-active{
            animation: appear 1.3s; 
            &.-current{
                animation: appear 1.3s, pulse 2s linear infinite;
            } 
        }
    }

    &.-third{
        animation: disappear 1s;
        &.-current{
            animation: disappear 1s, pulse 2s linear infinite;
        } 
        &.-active{
            animation: appear 1.6s;
            &.-current{
                animation: appear 1.6s, pulse 2s linear infinite;
                
            } 
        }
    }
}

.hamburger{
    padding: 15px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    transition: 0.12s;

    &.-active{
        .hamburger-inner {
            transition-delay: 0s;
            transition-timing-function: ease-out;
            background-color: transparent !important; 

            &:before{
                left: -80px;
                top: -80px;
                transform: translate3d(80px, 80px, 0) rotate(45deg);
                transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
            }

            &:after{
                right: -80px;
                top: -80px;
                transform: translate3d(-80px, 80px, 0) rotate(-45deg);
                transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); 
            }
        }
    }

    &:hover{
        opacity: 0.2;
    }
}

.hamburger-box {
    width: 30px;
    height: 30px;
    position: relative;
    
}
  
.hamburger-inner {
    top: 47%;
    width: 30px;
    height: 4px;
    background-color: $baseBlack;
    position: relative;
    transition: background-color 0.125s 0.175s ease-in; 

    &:before{
        content: "";
        top: -9px; 
        left: 0;
        transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; 
    }
    &:after{
        content: ""; 
        top: 9px;
        right: 0;
        transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
    }
}
    
.hamburger-inner:before, .hamburger-inner:after {
    width: 30px;
    height: 4px;
    background-color: $baseBlack;
    position: absolute;
}